@using LittleHelpers.Models

<MudDrawer Anchor="Anchor.Right"
           Open="@Open"
           Elevation="2"
           Variant="DrawerVariant.Temporary"
           Width="300px" OverlayAutoClose="true" OpenChanged="Close">

    @if (meal != null)
    {
        <MudPaper Class="pa-4">

            <MudText Typo="Typo.subtitle2" Class="fw-bold">Meal Name</MudText>
            <MudText>@meal.Name</MudText>

            <MudDivider Class="my-4" />
            
            <MudText Typo="Typo.subtitle2" Class="fw-bold">Description</MudText>
            <MudText>@meal.Description</MudText>

            @if(meal.MealIngredients.Count > 0)
            {
                <MudDivider Class="my-4" />
                <MudText Typo="Typo.subtitle2" Class="fw-bold">Ingredients</MudText>
                <div class="mt-2">
                    @foreach (var mealIngredient in meal.MealIngredients)
                    {
                        <MudChip T="string" Class="mr-2 mb-2" Text="@(mealIngredient.Ingredient.Name + " (" + mealIngredient.Quantity + ")")" />
                    }
                </div>
            }
            
            <MudDivider Class="my-4" />

            <MudText Typo="Typo.subtitle2" Class="fw-bold">Air Fryer?</MudText>
            @if(meal.IsAirFryer)
            {
                <MudText>Yes</MudText>
            }
            else
            {
                <MudText>No</MudText>
            }

            <MudDivider Class="my-4" />
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-4 mr-2" OnClick="@(() => OnEdit.InvokeAsync(meal))">Edit</MudButton>

            <MudButton Variant="Variant.Filled" Color="Color.Error" Class="mt-4 mr-2" Onclick="@(() => OnDelete.InvokeAsync(meal))">Delete</MudButton>

            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-4" OnClick="Close">Close</MudButton>


        </MudPaper>
    }

</MudDrawer>

@code {
    [Parameter] public bool Open { get; set; }
    [Parameter] public Meal? meal { get; set; }
    [Parameter] public EventCallback<Meal> OnDelete { get; set; }
    [Parameter] public EventCallback<Meal> OnEdit { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    private async Task Close()
    {
        await OnClose.InvokeAsync();
    }
}